$red: rgb(240, 13, 13);
// stolen from https://bbbootstrap.com/snippets/bootstrap-pulse-animation-css-effect-78552205
@keyframes key-button-pulse-animation {
  0% {
    box-shadow: 0 0 0 0 $red, 0 0 0 0 $red;
  }
  40% {
    box-shadow: 0 0 0 10px transparent, 0 0 0 0 $red;
  }
  80% {
    box-shadow: 0 0 0 10px transparent, 0 0 0 7px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 7px transparent;
  }
}

.key-button {
  cursor: default;
  display: inline-block;
  min-width: 38px;
  height: 38px;

  &.btn-outline-primary {
    width: 400px;
  }

  &_state {
    &_is-next {
      position: relative;
      z-index: 100;
      animation: key-button-pulse-animation 3s infinite;
    }
  }
}