.loading-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', sans-serif;

  &__spinner {
    width: 48px;
    height: 48px;
  }
}